<div id="main>"

	<div id="title">
		<h1>Pictures</h1>
	</div>

<hr />

	<% @pictures.each do |picture| %>
<div id="index">
	<div id="pics"><img src="<%= picture[:photo ] %>"></div>
	<div id="info"><p><%= link_to picture[:title], picture %> by <%= picture[:author] %></p></div>
<!-- 	<div id="content"><p><%= picture[:content] %></p></div> -->
</div>
	<% end %>

	<div class="clear"
		<p><%= link_to "Add a New Picture", new_picture_path %></p>
	</div>
</div>